<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-4">
      <%= simple_form_for [@tender, @bid] do |f| %>
        <%= f.input :quote %>

        <h3>Add Items</h3>
        <%= f.simple_fields_for :items do |item| %>
          <%= render 'item_fields', f: item %>
        <% end %>

        <div class="links">
          <%= link_to_add_association "Add Item", f, :items %>
        </div>

        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
