<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      <%= simple_form_for [@tender, @bid] do |f| %>

        <h5 class="h5-newbid"><em><strong>Instructions:</strong></em></h5>
        <p class="p-newbid">To bid on a tender, click on the <strong>⍔ </strong>icon to add a bid field, and then quote.
          <br>
          Or click on the <strong>☒ </strong> icon to delete a bid field. Once you're done, click submit
        </p>
        <%= f.simple_fields_for :items do |item| %>
          <div class="form-inline">
            <%= render 'item_fields', f: item %>
          </div>
        <% end %>

        <div class="links">
          <%= link_to_add_association " Add field", f, :items, class:"fas fa-caret-square-down a-newbid" %>

        </div>

        <%= f.submit "Submit", class: "btn btn-primary btn-newbid" %>
      <% end %>
    </div>
  </div>
</div>
