<div class="nested-fields">
  <div class="field field-nomargin">
    <table class="table table-bordered table-color" style="padding-bottom:0; margin-bottom:0;">
      <tr class="<%= (@bid.items.each { |item| item.id % 2 ==0 ? "even" : "odd" } )%>">
        <td>
          <%= link_to_remove_association " Delete ", f, class:"fas fa-window-close" %>
          <%= f.input :name, input_html: {rows: 1} %>
        </td>
        <td>
          <br>
          <%= f.input :quantity, input_html: {size: 20} %>
        </td>
        <td>
          <br>
          <%= f.input :unit %>
        </td>
        <td>
          <br>
          <%= f.input :unit_rate, label: "Unit Rate (Rs)" %>
        </td>
        <td>
          <br>
          <%= f.input :amount, label: "Amount (Rs)" %>
        </td>
        <td>
          <br>
          <%= f.input :duration, label: "Duration (Days)"  %>
        </td>
      </tr>
    </table>
  </div>
</div>
