<br>
<br>
<br>
<br>
<body class="body-bidindex">
  <section class="section-bidindex">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto mb-4">
          <div class="section-title text-center ">
            <h3 class="top-c-sep">Bid offers</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="bidindex-search mb-60">
            <div class="bidindex-result">
              <% @bids.each do |bid|  %>
                <div class="bidindex-box d-md-flex align-items-center justify-content-between mb-30">
                  <div class="bidindex-left my-4 d-md-flex align-items-center flex-wrap">
                    <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0">
                      <%= link_to user_path(bid.user) do%>
                        <%= cl_image_tag bid.user.avatar.key, class:"avatar-bidindex"%>
                        <h6 class="text-center text-md-left h6-bidindex"><%= bid.user.company_name  %></h6>
                      <% end %>
                    </div>
                    <div class="bidindex-content">
                      <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                        <li class="mr-md-4 li-bidindex">
                          <i class="fas fa-comments-dollar"></i> Total amount quoted: <%= number_to_currency(bid.quote, unit: "Rs ") %>
                        </li>
                      </ul>
                      <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans ul-bidindex">
                        <li class="mr-md-4 li-bidindex">
                          <i class="far fa-clock"></i> Proposed duration of project: <%= bid.duration %> days
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="job-right my-4 flex-shrink-0">
                    <%= link_to "View offer", tender_bid_path(@tender,bid), class:"btn d-block w-100 d-sm-inline-block btn-bidindex" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

<%# <% @bids.each do |bid| %>
 <%# <ul>
    <% if bid.rejected %>
  <%#    <li><%= link_to "Bid posted by: #{bid.user.company_name}", tender_bid_path(@tender,bid), class:"disabled" %>
  <%#  <% else %>
   <%#   <li><%= link_to "Bid posted by: #{bid.user.company_name}", tender_bid_path(@tender,bid) %>
   <%# <% end %>
 <%# </ul>
<% end %>
