<div class="banner banner-services banner-showbid" style="background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)), url(http://image.uc.cn/s/wemedia/s/upload/2022/b63b1995f7752ea2fe9ea805119329ae.jpg);">
  <div class="vcenter">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
          <div class="banner-content">
            <h1 style="color:white;"><%= @bid.tender.title  %></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<body class="body-bidshow">
  <section class="section-bidshow">
    <div class="title-bidshow">
      <h2>Bid proposal</h2>
    </div>
    <div class="container-bidshow">
      <div class="Content content-bidshow">
              <div class="container" id="container container-bidshow" style="margin-top:50px;">
          <div id="recent-bidshow">
            <div class="fourcolcontent-bidshow post-bidshow">
              <h3 class="h3-bidshow" style="font-size: 24px;">Dear <%= @bid.tender.user.first_name.capitalize%> <%= @bid.tender.user.last_name.capitalize%>	,</h3>
              <p style="font-size:17px;"><%= (@bid.user.company_name) ? link_to("#{@bid.user.company_name.capitalize} Ltd", user_path(@bid.user), style:"font-weight:400; text-decoration:none; color:black;") : ""%> is pleased to present their proposal for <%= @bid.tender.title %>.
                They are a Grade <%= @bid.user.grade_of_contractor %> contracting company and are located at <%= @bid.user.address %>	</p>
            </div>
            <div class="fourcolside-bidshow" id="comments-bidshow">
              <%= link_to user_path(@bid.user) do%>
                <h5 class="h5-bidshow"><%= cl_image_tag @bid.user.logo.key, style:"width:100px; height:100px;object-fit:cover;"%>	</h5>
              <% end %>
              <span style="font-style:italic; font-size:12px;"><%= (@bid.user.company_name) ? @bid.user.company_name.capitalize : ""%> 	Ltd </span>
            </div>
            <div class="clear-bidshow"></div>
          </div>

            <div id="recent-bidshow">
            <div class="fourcolcontent-bidshow post-bidshow" style="width:85%;">
              <p style="font-size:17px;">This proposal provides an outline and estimate of costs for the <%= @bid.tender.title%> project  at <%= @bid.tender.location %>.
                Unless amended in writing, the contents of this proposal supercedes any blueprints, drawings and plans
                or verbal discussion. Materials, equipment and methods may vary from blueprints or notes provided, but
                at all times will meet or exceed building codes.</p>
              <h2 class="h2-bidshow">Bid breakdown </h2>
            </div>
            <div class="clear-bidshow"></div>
            <div class="tablecontainer" style="margin-right: 90px; margin-top: 15px;">
              <table class="table table-striped table-bordered ">
                <thead>
                  <tr class="table-primary">
                    <th class="th-table-bidshow" scope ="col" >Name</th>
                    <th class="th-table-bidshow"  scope ="col">Quantity</th>
                    <th class="th-table-bidshow"  scope ="col">Unit</th>
                    <th class="th-table-bidshow"  scope ="col">Unit Rate (Rs)</th>
                    <th class="th-table-bidshow"  scope ="col">Amount (Rs)</th>
                    <th class="th-table-bidshow"  scope ="col">Duration (Days)</th>
                  </tr>
                </thead>
                <% @bid.quote  = 0 %>
                <% @bid.duration = 0 %>
                <% @bid.items.each do |item| %>
                  <tr>
                    <td><%= item.name %> </td>
                    <td><%= item.quantity %></td>
                    <td><%= item.unit %> </td>
                    <td><%= item.unit_rate %> </td>
                    <td><%= number_to_currency(item.amount, unit: "") %> </td>
                    <td><%= item.duration %> </td>
                  </tr>
                <% @bid.quote  += item.amount %>
                <% @bid.duration  += item.duration %>
                <% end %>
              </table>
              <% @bid.save %>
              <p>Total Amount quoted: <%= number_to_currency(@bid.quote, unit: "Rs ") %> </p>
              <p>Works are expected to be completed in <%= @bid.duration %> 	 days</p>
              <div class="tender-show-links">
                <%= link_to "Accept Bid", activate_tender_bid_path(@bid.tender, @bid), class:"link-bidshow-accept"%>
                <%= link_to "Reject Bid", reject_tender_bid_path(@bid.tender, @bid), class:"link-bidshow-reject"%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Side-banner"></div>
    </div>
  </section>
</body>
