<br>
<br>
<br>
<br>
<br>
<h3 class="text-center">Bill of Quantities</h3>
<div class="tablecontainer" style="margin: 0 20px;">
  <table class="table table-striped table-bordered ">
    <thead>
      <tr class="table-primary">
        <th scope ="col">Name</th>
        <th scope ="col">Quantity</th>
        <th scope ="col">Unit</th>
        <th scope ="col">Unit Rate (Rs)</th>
        <th scope ="col">Amount (Rs)</th>
      </tr>
    </thead>
    <% @bid.quote  = 0 %>
    <% @bid.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.quantity %></td>
        <td><%= item.unit %></td>
        <td><%= item.unit_rate %></td>
        <td ><%= item.amount %></td>
      </tr>
    <% @bid.quote  += item.amount %>
    <% end %>
  </table>
  <% @bid.save %>
  <p>Total Amount quoted: Rs <%= @bid.quote %> </p>
  <%= link_to "Accept Bid", activate_tender_bid_path(@bid.tender, @bid)%>
</div>

