<div class="container container-sidebar">
  <div class="row">
    <div class="col-sm-3 col-md-3">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-chat-video" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32">
            <%= image_tag "logo.png", style:"width:70px;height:70px;object-fit:cover;"%>
          </svg>
          <span class="fs-4"></span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="/" class="nav-link active nav-side" aria-current="page">
              <svg class="bi me-2" width="16" height="16">
                <%= image_tag "home.svg", style:"width:30px;height:30px;object-fit:cover; padding-right:4px;"%>
              </svg>
              Home
            </a>
          </li>
          <li>
            <%= link_to user_path(current_user), class:"nav-link text-white" do%>
              <svg class="bi me-2" width="16" height="16">
                <%= image_tag "profile-icon.png", style:"width:30px;height:30px;object-fit:contain; padding-right:4px;"%>
              </svg>
              Profile
            <% end %>
          </li>
          <li>
            <%= link_to chatrooms_path, class:"nav-link text-white" do%>
              <svg class="bi me-2" width="16" height="16">
                <%= image_tag "inbox-icon.png", style:"width:30px;height:30px;object-fit:contain; padding-right:4px;"%>
              </svg>
              Inbox
            <% end %>
          </li>
          <li>
            <%= link_to video_chats_path, class:"nav-link text-white" do%>
              <svg class="bi me-2" width="16" height="16">
                <%= image_tag "videologs-icon.png", style:"width:30px;height:30px;object-fit:contain; padding-right:4px;"%>
              </svg>
              Video logs
            <% end %>
          </li>
          <%# <li>
            <a href="" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#table"></use>
              </svg>
              "Customers"
            </a>
          </li> %>
        </ul>
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <% if current_user.is_builder = true %>
              <%= cl_image_tag current_user.logo.key, class:"rounded-circle me-2 sidebar-avatar"%>
            <% else %>
              <%= cl_image_tag current_user.avatar.key, class:"rounded-circle me-2 sidebar-avatar"%>
            <% end %>
            <strong><%= current_user.username %></strong>
          </a>
          <ul class="dropdown-menu dropdown menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item " %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-9">
      <h2 class="h2-indexchat">Direct Messages</h2>
      <div class="container col-11">
        <ul style="margin-top:50px;">
          <% @chatrooms.reverse_each do |chatroom| %>
            <% chatroom.users.each do |user| %>
              <% if user != current_user %>
                <%= link_to chatroom_path(chatroom) do %>
                  <div class="agent-userz d-flex">
                    <li><%= cl_image_tag user.avatar.key,class:"img-agent-userz"%></li>
                    <li class="name-agent-userz"><%= user.username%></li>
                  </div>
                <% end %>
              <% end %>
            <% end %>
            <% if chatroom.messages.last.present? %>
              <%# <li><%= chatroom.messages.last.created_at.strftime("%I:%M %p") %>    <%# </li> %>
              <% if chatroom.messages.last.user == current_user %>
                <li class="convo-msg"> You: <%= chatroom.messages.last.content %></li>
              <% else  %>
                <li class="convo-msg"><%= chatroom.messages.last.user.username.capitalize %>: <%= chatroom.messages.last.content %></li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
