<div class="container container-sidebar">
  <div class="row">
    <div class="col-sm-3 col-md-3">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-chat-video" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32">
            <%= image_tag "logo.png", style:"width:70px;height:70px;object-fit:cover;"%>
          </svg>
          <span class="fs-4"></span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="/" class="nav-link active nav-side" aria-current="page">
              <svg class="bi me-2" width="16" height="16">
                <%= image_tag "home.svg", style:"width:30px;height:30px;object-fit:cover; padding-right:4px;"%>
              </svg>
              Home
            </a>
          </li>
          <li>
            <%= link_to user_path(current_user), class:"nav-link text-white" do%>
              <svg class="bi me-2" width="16" height="16">
                <%= image_tag "profile-icon.png", style:"width:30px;height:30px;object-fit:contain; padding-right:4px;"%>
              </svg>
              Profile
            <% end %>
          </li>
          <li>
            <%= link_to chatrooms_path, class:"nav-link text-white" do%>
              <svg class="bi me-2" width="16" height="16">
                <%= image_tag "inbox-icon.png", style:"width:30px;height:30px;object-fit:contain; padding-right:4px;"%>
              </svg>
              Inbox
            <% end %>
          </li>
          <li>
            <%= link_to video_chats_path, class:"nav-link text-white" do%>
              <svg class="bi me-2" width="16" height="16">
                <%= image_tag "videologs-icon.png", style:"width:30px;height:30px;object-fit:contain; padding-right:4px;"%>
              </svg>
              Video logs
            <% end %>
          </li>
          <%# <li>
            <a href="" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#table"></use>
              </svg>
              "Customers"
            </a>
          </li> %>
        </ul>
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <%= cl_image_tag current_user.avatar.key, class:"rounded-circle me-2 sidebar-avatar"%>
            <strong><%= current_user.username %></strong>
          </a>
          <ul class="dropdown-menu dropdown menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item " %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container chatroom col-sm-7"
      data-controller="chatroom-subscription"
      data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>" style="padding-top:50px; margin-top:50px;">
      <h1>#<%= @chatroom.name %></h1>

      <div class="messages" data-chatroom-subscription-target="messages">
        <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
        <% end %>
      </div>

      <%= simple_form_for [@chatroom, @message],
        remote: true,
        html: {data: {action: "ajax:success->chatroom-subscription#resetForm"}, class: "d-flex" } do |f| %>
          <%= f.input :content,
          label: false,
          placeholder: "Message ##{@chatroom.name}",
          wrapper_html: {class: "flex-grow-1"}
        %>
        <%= f.submit "Send", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
