<section class="videochat-body-section">
  <%= javascript_include_tag 'https://media.twiliocdn.com/sdk/js/video/releases/2.3.0/twilio-video.min.js' %>
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-chat-video" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <%= image_tag "logo.png", style:"width:70px;height:70px;object-fit:cover;"%>
      </svg>
      <span class="fs-4"></span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link active nav-side" aria-current="page">
          <svg class="bi me-2" width="16" height="16">
            <%= image_tag "home.svg", style:"width:30px;height:30px;object-fit:cover; padding-right:4px;"%>
          </svg>
          Home
        </a>
      </li>
      <li>
        <%= link_to user_path(current_user), class:"nav-link text-white" do%>
          <svg class="bi me-2" width="16" height="16">
            <%= image_tag "profile-icon.png", style:"width:30px;height:30px;object-fit:contain; padding-right:4px;"%>
          </svg>
        Profile
        <% end %>
      </li>
      <li>
        <%= link_to chatrooms_path, class:"nav-link text-white" do%>
          <svg class="bi me-2" width="16" height="16">
            <%= image_tag "inbox-icon.png", style:"width:30px;height:30px;object-fit:contain; padding-right:4px;"%>
          </svg>
          Inbox
        <% end %>
      </li>
      <li>
        <%= link_to video_chats_path, class:"nav-link text-white" do%>
          <svg class="bi me-2" width="16" height="16">
            <%= image_tag "videologs-icon.png", style:"width:30px;height:30px;object-fit:contain; padding-right:4px;"%>
          </svg>
          Video logs
        <% end %>
      </li>
          <%# <li>
            <a href="" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#table"></use>
              </svg>
              "Customers"
            </a>
          </li> %>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <% if current_user.is_builder != false %>
          <%= cl_image_tag current_user.logo.key, class:"rounded-circle me-2 sidebar-avatar"%>
        <% else %>
          <%= cl_image_tag current_user.avatar.key, class:"rounded-circle me-2 sidebar-avatar"%>
        <% end %>
        <strong><%= current_user.username %></strong>
      </a>
      <ul class="dropdown-menu dropdown menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item " %>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-11 col-md-11 col-lg-11">
      <div class="row row-video">
        <div class="col-9 col-sm-8 col-remote-video ">
          <div id="remote-video">
          </div>
        </div>
        <div class="col-3 col-local-video">
          <div id="local-video">
          </div>
        </div>
        <div class="row buttons-panel mb-3">
          <div class="col-12 d-flex justify-content-center align-items-center col-buttons-video">
            <button class="btn btn-success p-3 rounded-circle d-none m-3" id="call-mute-btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
                <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
                <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
              </svg>
            </button>
            <button class="btn btn-danger p-3 rounded-circle d-none m-3" id="call-unmute-btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-mic-mute-fill" viewBox="0 0 16 16">
                <path d="M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4.02 4.02 0 0 0 12 8V7a.5.5 0 0 1 1 0v1zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a4.973 4.973 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4zm3-9v4.879L5.158 2.037A3.001 3.001 0 0 1 11 3z"/>
                <path d="M9.486 10.607 5 6.12V8a3 3 0 0 0 4.486 2.607zm-7.84-9.253 12 12 .708-.708-12-12-.708.708z"/>
              </svg>
            </button>
            <button class="btn btn-success p-3 rounded-circle d-none m-3" id="video-disable-btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z"/>
              </svg>
            </button>
            <button class="btn btn-danger p-3 rounded-circle d-none m-3" id="video-enable-btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-camera-video-off-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.961 12.365a1.99 1.99 0 0 0 .522-1.103l3.11 1.382A1 1 0 0 0 16 11.731V4.269a1 1 0 0 0-1.406-.913l-3.111 1.382A2 2 0 0 0 9.5 3H4.272l6.69 9.365zm-10.114-9A2.001 2.001 0 0 0 0 5v6a2 2 0 0 0 2 2h5.728L.847 3.366zm9.746 11.925-10-14 .814-.58 10 14-.814.58z"/>
              </svg>
            </button>
            <button class="btn btn-success p-3 rounded-circle d-none m-3" id="screen-share-btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cast" viewBox="0 0 16 16">
                <path d="m7.646 9.354-3.792 3.792a.5.5 0 0 0 .353.854h7.586a.5.5 0 0 0 .354-.854L8.354 9.354a.5.5 0 0 0-.708 0z"/>
                <path d="M11.414 11H14.5a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5h-13a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5h3.086l-1 1H1.5A1.5 1.5 0 0 1 0 10.5v-7A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v7a1.5 1.5 0 0 1-1.5 1.5h-2.086l-1-1z"/>
              </svg>
            </button>
            <button class="btn btn-danger p-3 rounded-circle d-none m-3" id="stop-screen-share-btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cast" viewBox="0 0 16 16">
                <path d="m7.646 9.354-3.792 3.792a.5.5 0 0 0 .353.854h7.586a.5.5 0 0 0 .354-.854L8.354 9.354a.5.5 0 0 0-.708 0z"/>
                <path d="M11.414 11H14.5a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5h-13a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5h3.086l-1 1H1.5A1.5 1.5 0 0 1 0 10.5v-7A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v7a1.5 1.5 0 0 1-1.5 1.5h-2.086l-1-1z"/>
              </svg>
            </button>
            <button class="btn btn-danger p-3 rounded-circle d-none m-3" id="call-end-btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-telephone-x-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zm9.261 1.135a.5.5 0 0 1 .708 0L13 2.793l1.146-1.147a.5.5 0 0 1 .708.708L13.707 3.5l1.147 1.146a.5.5 0 0 1-.708.708L13 4.207l-1.146 1.147a.5.5 0 0 1-.708-.708L12.293 3.5l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function() {
    setTimeout(
      function() {
        joinRoom("<%= @room_name %>","<%= @token %>");
      }, 2000);
  });
</script>
