<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-4">
      <%= simple_form_for @tender do |f| %>
        <%= f.input :description %>
        <%= f.input :nature_of_works %>
        <%= f.input :estimated_budget %>
        <%= f.input :images, as: :file,
                    input_html: {multiple: true},
                    label: "Upload images"%>
        <%= f.input :location %>
        <%= f.input :specifications %>
        <%= f.input :estimated_start_date,
          as: :date %>
        <%= f.input :estimated_end_date,
          as: :date %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
