<br><br><br><br>

<div class="container">
  <div class="row justify-content-center pt-10">
    <div class="col-sm-8">
      <h1>Search for a tender</h1>
        <%= form_tag tenders_path, method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a tender"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>

<section class="portfolio-standard">
  <div class="container containerindex">
    <div class="row">
    <% @tenders.each do |tender| %>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="portfolio-item">
          <div class="portfolio-item__img">
            <%= link_to tender_path(tender), class:"img1-hover-zoom popup-gallery-item" do%>
              <%= cl_image_tag tender.images[0].key%>
            <% end %>
          </div>
          <div class="portfolio-item__content">
            <div class="portfolio-item__cat">
              <%= tender.nature_of_works %>
            </div>
            <h4 class="portfolio-item__title">
              <%= tender.title %>
            </h4>
            <p class="portfolio-item__desc">
              Posted by <%= tender.user.username %>
            </p>
            <%= link_to tender_path(tender), class:"btn btn__loadMore" do%>
              <i class="icon-arrow-right"></i>
              <span>Explore More</span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>

      <%= link_to "Post a tender", new_tender_path %>
