<br><br><br><br>

<div class="container">
  <div class="row justify-content-center pt-10">
    <div class="col-sm-8">
      <h1>Search for a tender</h1>
        <%= form_tag tenders_path, method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a tender"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
       <% @tenders.each do |tender| %>
        <ul>
          <li><%= link_to "#{tender.title}", tender_path(tender) %></li>
        </ul>
      <% end %>

      <%= link_to "Post a tender", new_tender_path %>
    </div>
  </div>
</div>
