
<div class="container">
  <%= @tender.estimated_budget %>
  <%# <% @tender.images.each do |image| %>
          <%# <%= cl_image_tag image.key%> %>
        <%# <% end %> %> %>
  <%= @tender.description %>
  <%# <%= @tender.building_documents %> %>
  <%= @tender.nature_of_works %>
  <%= @tender.location %>
  <%= @tender.specifications %>
  <%= @tender.estimated_start_date %>
  <%= @tender.estimated_end_date %>

   <%= link_to("Place a bid", new_tender_bid_path(@tender)) %>

</div>
