
<div class="container">
  <%= @tender.estimated_budget %>
  <%= @tender.description %>
  <%# <%= @tender.building_documents %>
  <%= @tender.nature_of_works %>
  <%= @tender.location %>
  <%= @tender.specifications %>
  <%= @tender.estimated_start_date %>
  <%= @tender.estimated_end_date %>

   <%= link_to("Place a bid", new_tender_bid_path(@tender)) %>

</div>
<div class="container">
  <% @tender.images.each do |image| %>
    <%= cl_image_tag image.key%>
  <% end %>
</div>


<div style="width:100%; height:600px;"
  data-controller = "mapbox"
  data-mapbox-markers-value = "<%= @marker.to_json %>"
  data-mapbox-api-key-value = "<%= ENV['MAPBOX_API_KEY'] %>">
</div>
