<div class="banner-navbar" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));">
  <div class="vcenter">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
          <div class="banner-contact">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<body class="body-showtender">
  <div class="parent">
    <div class="div1">
      <div class="info1">
        <div id="carousel-picture-tender" class="carousel slide container-carousel" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-picture-tender" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel-picture-tender" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel-picture-tender" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <% @tender.images.each do |image| %>
            <div class="carousel-item <%= (image.id == @tender.images.first.id) ? "active" : "" %>">
              <%= cl_image_tag(image.key, :width => 750, :height => 600, :crop => :fill, class:"d-block") %>
            </div>
            <% end %>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carousel-picture-tender" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#carousel-picture-tender" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <div class="div2">
      <div class="info2">
            <div class="carousel-description">
            <h1 class="carousel-description-title"><strong><%= @tender.title%></strong></h1>
            <p class="carousel-description-paragraph"><em><%= @tender.description %></em></p>


              <%# <%= @tender.building_documents %>


              <ul class="project-detail-list">
              <li><span class="left">Clients:</span><span class="right"><%= @tender.user.first_name %> <%= @tender.user.last_name%></span></li>
              <li><span class="left">Estimated start date:</span><span class="right"><%= @tender.estimated_start_date %></span></li>
              <li><span class="left">Estimated end date:</span><span class="right"><%= @tender.estimated_end_date %></span></li>
              <li><span class="left">Project Type:</span><span class="right"><%= @tender.nature_of_works %></span></li>
              <li><span class="left">Location:</span><span class="right"><%= @tender.location %></span></li>
              <li><span class="left">Budget:</span><span class="right"><%=  number_to_currency(@tender.estimated_budget, unit: "Rs ") %></span></li>
              </ul>
            </div>
            <br>

            <div class="showtender-link">
              <% if user_signed_in? %>
                <div class="btn tender">
                  <% unless current_user.is_builder = false || @tender.user == current_user %>
                    <button type="button" class="btn btn-outline-info"><%= link_to("Place a bid", new_tender_bid_path(@tender)) %></button>
                  <% end %>
                </div>
                <% if @tender.user == current_user %>
                  <div class="btn tender">
                    <button type="button" class="btn btn-outline-info"><%= link_to("Show bids", tender_bids_path(@tender)) %></button>
                  </div>
                <% end %>
              <% end %>
              <div class="div4\">
                <button type="button" class="btn btn-primary map" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Click here to view map
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Location : <%= @tender.location %></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <div class="map-resize"
                            data-controller = "mapbox"
                            data-mapbox-markers-value = "<%= @marker.to_json %>"
                            data-mapbox-api-key-value = "<%= ENV['MAPBOX_API_KEY'] %>">
                          </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
      </div>
    </div>

    <div class="div3">

    </div>
  </div>
</body>

<%# <div class="container">
  <% @tender.images.each do |image| %>
    <%# <%= cl_image_tag image.key%>
  <%# <% end %>
<%# </div> %>
