<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top"
data-controller="navbar"
data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo.png", class:"nav-icon" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Home", "/", class: "nav-link btn-2" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Services", "/services", class: "nav-link btn-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "View tenders", tenders_path, class: "nav-link btn-2" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Projects", "/projects", class: "nav-link btn-2" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Contact", "/contact", class: "nav-link btn-2" %>
          </li>
          <li class="nav-item active">
            <%= link_to "About us", "/about", class: "nav-link btn-2" %>
          </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Notifications", "#", class: "nav-link btn-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Leave a testimonial", new_testimonial_path, class: "nav-link btn-2" %>
          </li>
           <li class="nav-item dropdown">
            <% if current_user.avatar.key || current_user.logo.key %>
              <% if current_user.is_builder != false %>
                <%= cl_image_tag current_user.logo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
            <% else %>
              <%= image_tag "https://www.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "About me", user_path(current_user), class: "dropdown-item fas fa-solid fa-user-alt" %>
              <%= link_to "Inbox", chatrooms_path, class: "dropdown-item fa fa-inbox" %>
              <%= link_to "Video logs", video_chats_path, class: "dropdown-item fas fa-video" %>
              <%= link_to "Settings", "#", class: "dropdown-item fas fa-cog" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item fas fa-sign-out-alt" %>
            </div>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link btn-2" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
