<%# Banner %>
<div class="banner banner-home">
  <div class="vcenter">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
          <div class="banner-content">
            <h1 class="h1-banner">Ensam nou construire to vision</h1>
            <%# <p class="p-banner text-center"><span data-controller="typed-js"></span> %>
            <%# </p> %>
            <p class="p-banner">Whatever the level of support you require,</p>
            <p class="p-banner">we are sure that we will have a package that meets your needs.</p>
            <% unless user_signed_in? %>
              <%= link_to "Get Started", presignup_path, class:"btn-banner" %>
            <% end %>
            <%# <a class="btn btn-flat" href="#">Apply now</a> %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="home-body" style="padding-top: 0px; margin-top: 0px;">
  <%# Value section/ What we bring to the table section %>
  <div class="value-sec section-white">
    <div class="container containerval">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="header">
            <h2 class="heading1"> Kickstart your project here</h2>
          </div>
          <%# img column of section %>
          <div class="img-col">
            <%= image_tag "https://media.istockphoto.com/photos/happy-multiethnic-family-with-child-holding-cardboard-roof-picture-id1270066435?k=20&m=1270066435&s=612x612&w=0&h=elkT4SmQOvbzp15seakdsJUlxFzztPOeFo_PWbvuXdc=", class:"img-val" %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-custom-6 flexvertical">
          <ul class="list-unstyled choose-list">
            <li class="row">
              <span class="col-3">
                <%= image_tag "people-team.svg", :class=>"p-2 icon"%>
              </span>
              <div class="col">
                <h4> A community of 2,000+ experts</h4>
                <h6 class="heading2">
                  Whether it’s for renovating a home, interior
                  <br>
                  & exterior design or building something from
                  <br>
                  scratch, you'll find whoever you need in our community profiles
                </h6>
              </div>
            </li>
            <li class="row">
              <span class="col-3">
                <%= image_tag "time.svg", :class=>"p-2 icon" %>
              </span>
              <div class="col">
                <h4> 6-month average duration of projects</h4>
                <h6 class="heading2">
                  Thanks to our Lean Management approach, we ensure clients fast delivery of projects
                </h6>
              </div>
            </li>
            <li class="row spacingval">
              <span class="col-3">
                <%= image_tag "support.svg", :class=>"p-2 icon"%>
              </span>
              <div class="col">
                <h4> We offer support 24/7</h4>
                <h6 class="heading2">
                  We have a dedicated team who is ready to address your concerns, any time of the day
                </h6>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <%# Our services section %>
  <section class="section-white" id="services">
    <%# begin container %>
    <div class="container container-services">
      <div class="row row-services">
        <%# begin col-md-12 %>
        <div class="col-md-12 text-center">
          <h2 class="section-title">Discover Our Services</h2>
          <p class="section-subtitle">Premium residential construction services</p>
        </div>
        <%# end of col-md-12 %>
      </div>
      <%# end eow %>
    </div>
    <%# end container %>
    <%# begin container %>
    <div class="container container-services-card">
      <%# begin row %>
      <div class="row">
        <%# begin col-md-4 %>
        <div class="col-md-4">
          <%= link_to "/construction" do%>
            <div class="our-services img1-hover-zoom">
              <%= image_tag 'https://media.gettyimages.com/photos/smiling-architect-talking-to-couple-during-home-improvement-process-picture-id1158375132?k=20&m=1158375132&s=612x612&w=0&h=jszvNoWjWd-COGY4k3idCzOiq04LPDsLSVMWu3SZNb0=', class:"width-100"  %>
              <h3>
                Opportunity Matching
              </h3>
              <p>
                Post your projects to receive unparallel exposure. The Anubatir Directory connects you with thousands of qualified contractors, subtrades and suppliers across Mauritius.
              </p>
            </div>
          <% end %>
        </div>
        <%# end col-md-4 %>
        <%# begin col-md-4 %>
        <div class="col-md-4">
          <%= link_to "/renovation" do%>
            <div class="our-services img1-hover-zoom">
              <%= image_tag 'bidhandshake.jpg', class:"width-100"  %>
              <h3>
                Easily find projects
              </h3>
              <p>
                As a builder, you can gain insight into current, future and awarded bidding opportunities with quick and easy access to accurate, complete project information and documents.
              </p>
            </div>
          <% end %>
        </div>
        <%# end col-md-4 %>
        <%# begin col-md-4 %>
        <div class="col-md-4">
          <%= link_to "/design" do%>
            <div class="our-services img1-hover-zoom">
              <img src="https://media.gettyimages.com/photos/successful-engineer-holding-blueprint-and-looking-away-picture-id1219954365?k=20&m=1219954365&s=612x612&w=0&h=Pw02L9hMumNHB3_PvG92vDQIqc2JzCER1b8HkipsGr0=" alt="" class="width-100">
              <h3>
                Subtrades & Suppliers
              </h3>
              <p>
                Your expertise is needed. Find relevant work with access to the largest source of project opportunities in Mauritius
              </p>
            </div>
          <% end %>
        </div>
        <%# end col-md-4 %>
      </div>
      <%# end row %>
    </div>
    <%# end container %>
  </section>
  <%# end section %>

  <%# Our Testimonials section %>
  <section class="section-white section-top-border section-testimonials" id="testimonials">
    <%# begin container %>
    <div class="container">
      <%# begin row %>
      <div class="row">
        <%# begin col-md-12 %>
        <div class="col-md-12 text-center padding-bottom-40">
          <h2 class="section-title">Clients Testimonials</h2>
          <p class="section-subtitle">Our Clients are saying</p>
        </div>
        <%# end of col-md-12 %>
        <%# begin col-md-4 %>
        <% @testimonials = Testimonial.where("rating>3") %>
        <% @testimonials.last(3).each do |testimonial| %>
          <div class="col-md-4">
            <%# begin testim-inner %>
            <div class="testim-inner first img1-hover-zoom">
              <%= cl_image_tag testimonial.user.avatar.key, class:"testim-img"%>
              <p> <%= testimonial.content  %> </p>
              <% if testimonial.user.is_builder %>
                <h6> <%= testimonial.user.company_name %></h6>
              <% else %>
                <h6> <%= testimonial.user.first_name %>  <%= testimonial.user.last_name %></h6>
              <% end %>
              <div class="testim-rating">
                <p><%= '⭐' * testimonial.rating  %></p>
              </div>
            </div>
            <%# end testim inner %>
          </div>
          <%# end col-md-4 %>
        <% end %>
      </div>
      <%# end row %>
    </div>
    <%# end container %>
  </section>

  <%# Collaborators %>
  <section id="collaborators" class="section-white section-bottom-border section-top-border">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="heading-collab heading-collab-2 text-center">
            <div class="heading-collab-bg">
              <h2>
                Our Trusted Partners
              </h2>
            </div>
          </div>
          <%# .heading end %>
        </div>
        <%# .col-md-12 end %>
      </div>
      <%# .row end %>
      <div class="row">
        <%# Client Item %>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="brand">
            <%= image_tag "collab1.png", class:"img-responsive center-block"%>
          </div>
        </div>
        <%# .col-md-2 end %>
        <%# Client Item %>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="brand">
            <%= image_tag "collab2.png", class:"img-responsive center-block"%>
          </div>
        </div>
        <%# .col-md-2 end %>
        <%# Client Item %>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="brand">
            <%= image_tag "collab3.png", class:"img-responsive center-block"%>
          </div>
        </div>
        <%# .col-md-2 end %>
        <%# Client Item %>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="brand">
            <%= image_tag "collab4.png", class:"img-responsive center-block"%>
          </div>
        </div>
        <%# .col-md-2 end %>
        <%# Client Item %>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="brand">
            <%= image_tag "collab5.png", class:"img-responsive center-block"%>
          </div>
        </div>
        <%# .col-md-2 end %>
        <%# Client Item %>
        <div class="col-xs-12 col-sm-4 col-md-2">
          <div class="brand">
            <%= image_tag "collab6.png", class:"img-responsive center-block"%>
          </div>
        </div>
        <%# .col-md-2 end %>
      </div>
      <%# .row End %>
    </div>
    <%# .container END %>
  </section>
  <%# collaborators end %>
</section>


<%# Past Services section %>
<%#
<div class="container">
  <h2 style="text-align:center;"><strong>Our services</strong></h2>
  <br>
</div>

<div class="d-flex container" style="justify-content: space-around;">

    <div class="col-2">
      <div style="width: 18rem; height: 18rem;">
        <%= image_tag "construction.svg", :class=>"p-2 icon"%>
        <%# <div class="card-body card-body-home">
          <h5 class="card-title"><strong>Construction build</strong></h5>
          <p class="card-text">Discover all the best land activities.</p>
        </div>
      </div>
    </div> %>

    <%# <div class="col-2">
      <div style="width: 18rem; height: 18rem;">
        <%= image_tag "building.svg", :class=>"p-2 icon"%>
        <%# <div class="card-body card-body-home">
          <h5 class="card-title"><strong>House renovation</strong></h5>
          <p class="card-text">Discover all the best land activities.</p>
        </div>
      </div>
    </div> %>
<%#
    <div class="col-2">
      <div style="width: 20rem; height: 20rem;">
        <%= image_tag "design.svg", :class=>"p-2 icon"%>
        <%# <div class="card-body card-body-home">
          <h5 class="card-title"><strong>Exterior & Interior design</strong></h5>
          <p class="card-text">Discover all the best land activities.</p>
        </div>
      </div> %>
    <%# </div>
</div> %>
