<%# Banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.ytimg.com/vi/hcsQGR4Z2L0/maxresdefault.jpg);">
  <div class="vcenter">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
          <div class="banner-content">
            <h1>Ensam nou construire to vision</h1>
            <p>
              Whatever the level of support you require, we are sure that we will
              <br>
              have a package that meets your needs.
            </p>
            <%= link_to "Apply now",presignup_path(type: "builder"), class:"btn btn-flat" %>
            <%# <a class="btn btn-flat" href="#">Apply now</a> %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# Value section/ What we bring to the table section %>
<div class="value-sec">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="header">
          <h2 class="heading1"> Kickstart your project here</h2>
        </div>
        <%# img column of section %>
        <div class="img-col">
          <%= image_tag "https://media.istockphoto.com/photos/happy-multiethnic-family-with-child-holding-cardboard-roof-picture-id1270066435?k=20&m=1270066435&s=612x612&w=0&h=elkT4SmQOvbzp15seakdsJUlxFzztPOeFo_PWbvuXdc=" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-custom-6 flexvertical">
        <ul class="list-unstyled choose-list">
          <li class="row">
            <span class="col-3">
              <%= image_tag "iconpeople.svg", :class=>"p-2 icon"%>
            </span>
            <div class="col">
              <h4> A community of 2,000+ experts</h4>
              <h5 class="heading2">
                Whether it’s for renovating a home, interior
                <br>
                & exterior design or building something from
                <br>
                scratch, you'll find whoever you need in our community profiles
              </h5>
            </div>
          </li>
          <li class="row">
            <span class="col-3">
              <%= image_tag "time.svg", :class=>"p-2 icon" %>
            </span>
            <div class="col">
              <h4> 6-month average duration of projects</h4>
              <h5 class="heading2">
                Thanks to our Lean Management approach, we ensure clients fast delivery of projects
              </h5>
            </div>
          </li>
          <li class="row spacingval">
            <span class="col-3">
              <%= image_tag "support.svg", :class=>"p-2 icon"%>
            </span>
            <div class="col">
              <h4> We offer support 24/7</h4>
              <h5 class="heading2">
                We have a dedicated team who is ready to address your concerns, any time of the day
              </h5>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%# Our services section %>
<section class="section-white" id="services">
  <%# begin container %>
  <div class="container">
    <div class="row">
      <%# begin col-md-12 %>
      <div class="col-md-12 text-center">
        <h2 class="section-title">Discover Our Services</h2>
        <p class="section-subtitle">Premium residential and commercial construction services</p>
      </div>
      <%# end of col-md-12 %>
    </div>
    <%# end eow %>
  </div>
  <%# end container %>
  <%# begin container %>
  <div class="container">
    <%# begin row %>
    <div class="row">
      <%# begin col-md-4 %>
      <div class="col-md-4">
        <%= link_to "/construction" do%>
          <div class="our-services img1-hover-zoom">
            <img src="https://images.unsplash.com/photo-1639953803381-e9c3f3a38253?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" class="width-100">
            <h3>
              Construction build
            </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere asperiores nam illo ad labore veniam culpa molestiae minima nisi odit expedita consectetur iusto quas, porro dolores, quos magnam. Possimus, quae.
            </p>
          </div>
        <% end %>
      </div>
      <%# end col-md-4 %>
      <%# begin col-md-4 %>
      <div class="col-md-4">
        <%= link_to "/renovation" do%>
          <div class="our-services img1-hover-zoom">
            <img src="https://images.unsplash.com/photo-1482731215275-a1f151646268?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="" class="width-100">
            <h3>
              House renovation
            </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere asperiores nam illo ad labore veniam culpa molestiae minima nisi odit expedita consectetur iusto quas, porro dolores, quos magnam. Possimus, quae.
            </p>
          </div>
        <% end %>
      </div>
      <%# end col-md-4 %>
       <%# begin col-md-4 %>
      <div class="col-md-4">
        <%= link_to "/design" do%>
          <div class="our-services img1-hover-zoom">
            <img src="https://images.unsplash.com/photo-1633109741715-59b57495bbdc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80" alt="" class="width-100">
            <h3>
              Exterior and interior design
            </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere asperiores nam illo ad labore veniam culpa molestiae minima nisi odit expedita consectetur iusto quas, porro dolores, quos magnam. Possimus, quae.
            </p>
          </div>
        <% end %>
      </div>
      <%# end col-md-4 %>
    </div>
    <%# end row %>
  </div>
  <%# end container %>
</section>
<%# end section %>

<%# Our Testimonials section %>
<section class="section-white section-top-border" id="testimonials">
  <%# begin container %>
  <div class="container">
    <%# begin row %>
    <div class="row">
      <%# begin col-md-12 %>
      <div class="col-md-12 text-center padding-bottom-40">
        <h2 class="section-title">Clients Testimonials</h2>
        <p class="section-subtitle">Our Clients are saying</p>
      </div>
      <%# end of col-md-12 %>
      <%# begin col-md-4 %>
      <% @testimonials = Testimonial.where("rating>3") %>
      <% @testimonials.last(3).each do |testimonial| %>
        <div class="col-md-4">
          <%# begin testim-inner %>
          <div class="testim-inner first img1-hover-zoom">
            <%= cl_image_tag testimonial.user.avatar.key, class:"testim-img"%>
            <p> <%= testimonial.content  %> </p>
            <h6> <%= testimonial.user.first_name %>  <%= testimonial.user.last_name %></h6>
            <div class="testim-rating">
              <p><%= '⭐' * testimonial.rating  %></p>
            </div>
          </div>
          <%# end testim inner %>
        </div>
        <%# end col-md-4 %>
      <% end %>
    </div>
    <%# end row %>
  </div>
  <%# end container %>
</section>

<%# Collaborators %>
<section id="collaborators" class="section-white section-bottom-border section-top-border">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="heading-collab heading-collab-2 text-center">
          <div class="heading-collab-bg">
            <h2>
              Our Trusted Partners
            </h2>
          </div>
        </div>
        <%# .heading end %>
      </div>
      <%# .col-md-12 end %>
    </div>
    <%# .row end %>
    <div class="row">
      <%# Client Item %>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="brand">
          <%= image_tag "collab1.png", class:"img-responsive center-block"%>
        </div>
      </div>
      <%# .col-md-2 end %>
      <%# Client Item %>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="brand">
          <%= image_tag "collab2.png", class:"img-responsive center-block"%>
        </div>
      </div>
      <%# .col-md-2 end %>
      <%# Client Item %>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="brand">
          <%= image_tag "collab3.png", class:"img-responsive center-block"%>
        </div>
      </div>
      <%# .col-md-2 end %>
      <%# Client Item %>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="brand">
          <%= image_tag "collab4.png", class:"img-responsive center-block"%>
        </div>
      </div>
      <%# .col-md-2 end %>
      <%# Client Item %>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="brand">
          <%= image_tag "collab5.png", class:"img-responsive center-block"%>
        </div>
      </div>
      <%# .col-md-2 end %>
      <%# Client Item %>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="brand">
          <%= image_tag "collab6.png", class:"img-responsive center-block"%>
        </div>
      </div>
      <%# .col-md-2 end %>
    </div>
    <%# .row End %>
  </div>
  <%# .container END %>
</section>
<%# collaborators end %>



<%# Past Services section %>
<%#
<div class="container">
  <h2 style="text-align:center;"><strong>Our services</strong></h2>
  <br>
</div>

<div class="d-flex container" style="justify-content: space-around;">

    <div class="col-2">
      <div style="width: 18rem; height: 18rem;">
        <%= image_tag "construction.svg", :class=>"p-2 icon"%>
        <%# <div class="card-body card-body-home">
          <h5 class="card-title"><strong>Construction build</strong></h5>
          <p class="card-text">Discover all the best land activities.</p>
        </div>
      </div>
    </div> %>

    <%# <div class="col-2">
      <div style="width: 18rem; height: 18rem;">
        <%= image_tag "building.svg", :class=>"p-2 icon"%>
        <%# <div class="card-body card-body-home">
          <h5 class="card-title"><strong>House renovation</strong></h5>
          <p class="card-text">Discover all the best land activities.</p>
        </div>
      </div>
    </div> %>
<%#
    <div class="col-2">
      <div style="width: 20rem; height: 20rem;">
        <%= image_tag "design.svg", :class=>"p-2 icon"%>
        <%# <div class="card-body card-body-home">
          <h5 class="card-title"><strong>Exterior & Interior design</strong></h5>
          <p class="card-text">Discover all the best land activities.</p>
        </div>
      </div> %>
    <%# </div>
</div> %>
