<br>
<br>
<br>
<br>

<h1>   </h1>
<section class="projects" id="projects">

   <h1 class="heading"> our projects </h1>

   <div class="box-container">

      <a href="https://i.postimg.cc/yNTm8jCv/project-1.jpg" class="box">
         <div class="image">
            <%= image_tag "https://i.postimg.cc/yNTm8jCv/project-1.jpg"%>
            </div>
         <div class="content">
            <div class="info">
               <h3>Build your dream house</h3>
               <p>Very broadly, floor construction tend to be solid floors, built up from the ground</p>
            </div>
            </div>
      </a>

      <a href="https://i.postimg.cc/d0QBdpBz/project-2.jpg" class="box">
         <div class="image">
            <%= image_tag "https://i.postimg.cc/d0QBdpBz/project-2.jpg"%>
            </div>
         <div class="content">
            <div class="info">
               <h3>Jcb Landscaping</h3>
               <p>Lawn care, boarder maintenance, hedge cutting</p>
            </div>
         </div>
      </a>

      <a href="https://i.postimg.cc/tTZFNjVm/project-3.jpg" class="box">
         <div class="image">
            <%= image_tag "project-3.jpg"%>
            </div>
         <div class="content">
            <div class="info">
               <h3>Exterior remodel</h3>
               <p>House exterior, exterior remodel, exterior makeover</p> %>
            </div>
         </div>
      </a>

      <a href="https://i.postimg.cc/tgLsyVY2/project-4.jpg" class="box">
         <div class="image">
            <%= image_tag "project-4.jpg"%> 
         </div>

         <div class="content">
            <div class="info">
               <h3>Lifting construction materials</h3> %>
               <p>heavy machinery such as the overhead cranes, jacks, building cradles, and can also
               include smaller accessories such as chains, hooks, and rope.</p>
            </div>
         </div>
      </a>

      <a href="https://i.postimg.cc/7ZR6MTMw/project-5.jpg" class="box">
         <div class="image">
            <%= image_tag "project-5.jpg"%> 
            </div>
         <div class="content">
            <div class="info">
               <h3>Upstairs Construction Services</h3>
               <p>The front railing at ground floor, first floor, second floor, third floor & terrace
               The Staircase railing will be provided of approved design of SS grade 304</p>
            </div>
         </div>
      </a>

      <a href="https://i.postimg.cc/cJ8JD4XY/project-6.jpg" class="box">
         <div class="image">
            <%= image_tag "project-6.jpg"%>
            </div>
         <div class="content">
            <div class="info">
               <h3>Welding works</h3>
               <p>joining two materials together without a separate binder material. 
               Unlike brazing and soldering, which use a binder that has a lower melting point</p>
            </div>
         </div>
      </a>

   </div>

</section>
<footer hidden>