<br>
<br>
<br>
<br>

<div class="bg-img-fix" style="background-image:url(https://construct.dexignlab.com/xhtml/images/background/bg8.jpg);">
  <div class="clearfix">
    <div class='col-lg-8 p-a0'> </div>
    <div id="form" class="col-lg-4 bg-white-login z-index2 relative skew-section left-bottom winHeight d-flex loginHeight">
      <div class="login-form style-2 align-self-center">
        <div class="login-logo logo-header p-tb30">
          <%= image_tag("logo.png") %>
        </div>
        <div class="clearfix">
        </div>
        <div class="tab-content nav p-b50">

          <div id="login" class="tab-pane active">
            <form class="dez-form p-b30">
              <h3 class="form-title m-t0">Sign In</h3>
              <div class="dez-separator-outer m-b5">

                <p>Enter your e-mail address and your password.</p>
              </div>
              <div class="form-group">
                <input name="dzName" required class="form-control" placeholder="User Name" type="text">
              </div>
              <div class="form-group">
                <input name="dzName" requires class="form-control" placeholder="Type Password" type="password">
              </div>
              <div class="form-group text-left">
                <button class="site-button dz-xs-flex m-r5">Login</button>
                <label>
                  <input id="check1" type="checkbox">
                  <label for="check1">
                  "Remember me"
                  </label>
                <a data-toggle="tab" href="#forgot-password" class="m-15">
                  <i class="fa fa-unlock-alt">
                  </i>
                  " Forgot Password"
                </a>
              </div>
            </form>
            <div class="bg-primary p-a15 text-center bottom">
              <a data-toggle="tab" href="#development-1" class="text-white">Create an account</a>
            </div>
          </div>

          <div id="forgot-password" class="tab-pane fade">
            <form class="dez-form">
              <h3 class="form-title m-t0">Forgot Password ?</h3>
              <div class="dez-separator-outer m-b5">
                <div class="dez-separator bg-primary style-liner">
                </div>
              </div>
              <p>Enter your e-mail address below to reset your password.</p>
              <div class="form-group">
                <input name="dzName" required class="form-control" placeholder="email Id" type="text">
              </div>
              <div class="form-group text-left">
                <a class="site-button outline gray" data-toggle="tab" href="#login">Back</a>
                <button class="site-button pull-right">Submit</button>
              </div>
            </form>
          </div>
          <div class="bottom-footer text-center text-white">
            <p>2022 (c) Anubatir</p>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>



      <!--<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in" %>
        </div>
      <% end %>
        </div>
      <%= render "devise/shared/links" %> -->
